<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarText">
        <div class="nav-item active">
          <a class="nav-link" href="#"><%= link_to "All restaurants", restaurants_path %> <span class="sr-only">(current)</span></a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="#"><%= link_to "Add a restaurant", new_restaurant_path %></a>
        </div>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </nav>
  </div>
    <%= yield %>
  </body>
</html>
